.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 650px;
  overflow: hidden;
  background-color: #333;
}

.CalCul {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #aa0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #cc0000;
}

.totalCaloriesText {
  font-size: 24px;
  fill: white;
}

.totalCaloriesLabel {
  font-size: 24px;
  fill: white;
}

