.dish {
    width: calc(33.333% - 40px);
    min-width: 475px;
    max-width: 475px;
    height: auto;
    position: relative;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #202020;
    color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
  
.dishImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
  
.dishContent {
    flex: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.favoriteButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: 10px;
    align-self: flex-end;
}


@media (max-width: 768px) {
    .dish {
        width: calc(100% - 20px); 
        max-width: none;
        margin: 10px; 
    }
  
    .dishImg {
        height: 200px; 
    }
  
    .dishContent {
        padding: 10px;
    }
  
    .favoriteButton {
        font-size: 20px; 
    }
}
