.entscheidung {
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entscheidung-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: filter 0.3s ease;
  position: relative;
  max-width: 100%;
}

.blur-background .image-container:not(.active) {
  filter: blur(5px);
}

.image-container {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 33%;
  transform: translateY(5%);
}

.image {
  width: 330px; /* Decreased width by 20px */
  height: 602px; /* Adjusted height to maintain aspect ratio */
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-container:not(.active) .image {
  opacity: 0.5;
}

.image-container.active .image {
  transform: scale(1.05);
  opacity: 1;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2em;
}

.text-box {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  width: 350px;
  color: white;
}

.image-container.active.left .text-box {
  display: block;
  left: calc(100% + 20px);
  right: auto;
}

.image-container.active.right .text-box {
  display: block;
  right: calc(100% + 20px);
  left: auto;
}

.weiter-button {
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #aa0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

.image-container.active.left .weiter-button {
  display: block;
  left: calc(100% + 20px);
  right: auto;
}

.image-container.active.right .weiter-button {
  display: block;
  right: calc(100% + 20px);
  left: auto;
}

.zwischen-text {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .entscheidung-container {
    flex-direction: column;
    margin: 0;
  }

  .image-container {
    margin: 20px 0;
  }

  .image {
    width: 80vw;
    height: auto;
  }

  .caption {
    font-size: 1em;
  }

  .text-box {
    width: 80vw;
    top: auto;
    bottom: 10%;
  }

  .image-container.active.left .text-box,
  .image-container.active.right .text-box {
    bottom: 0%;
    transform: none;
    width: 110%;
    height: 100%;
  }

  .weiter-button {
    width: 80vw;
    position: static;
    transform: none;
    margin: 20px auto 0;
  }
}
