/* Global styles for the component */
.entscheidung {
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container styles */
.entscheidung-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: filter 0.3s ease;
  position: relative;
  max-width: 100%;
}

/* Blur background for inactive images */
.blur-background .image-container:not(.active) {
  filter: blur(5px);
}

/* Image container styles */
.image-container {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 33%;
  transform: translateY(5%);
}

.image {
  width: 300px; /* Decreased width by 30px */
  height: 552px; /* Adjusted height to maintain aspect ratio */
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Styles for inactive images */
.image-container:not(.active) .image {
  opacity: 0.5;
}

/* Styles for active images */
.image-container.active .image {
  transform: scale(1.05);
  opacity: 1;
}

/* Caption styles */
.caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2em;
}

/* Text box styles */
.text-box {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  width: 350px;
  color: white;
}

/* Display text box for active images */
.image-container.active .text-box {
  display: block;
}

/* Specific styles for left and right active images */
.image-container.active.left .text-box {
  left: calc(100% + 20px);
  right: auto;
}

.image-container.active.right .text-box {
  right: calc(100% + 20px);
  left: auto;
}

/* Button styles */
.weiter-button {
  display: none;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #aa0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  position: relative;
  left: 50%; /* Zentriert */
  transform: translateX(-50%);
}

/* Display button for active images */
.image-container.active .weiter-button {
  display: block;
}

/* Specific styles for left and right active images */
.image-container.active.left .weiter-button {
  top: calc(100% + 20px); /* Button unter dem Text */
}

.image-container.active.right .weiter-button {
  bottom: calc(100% + 20px); /* Button über dem Text */
}

/* Zwischen-text styles */
.zwischen-text {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .entscheidung-container {
    flex-direction: column;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    padding-bottom: 10vw;
  }

  .zwischen-text {
    position: relative;
    font-size: 1em;
    width: 90vw;
    top: 5vw;
    border-radius: 5px;
    padding: 0vw 25vw;
  }

  .image-container {
    margin: 20px 0;
  }

  .image {
    width: 65vw; /* Width relative to viewport */
    height: auto;
  }

  .caption {
    font-size: 4vw;
  }

  .text-box {
    width: 80vw; /* Width relative to viewport */
    height: auto;
    transform: none;
    position: absolute;
  }

  .image-container.active .text-box {
    top: auto;
    bottom: auto;
    transform: none;
    position: absolute;
  }

  .image-container.active.left .text-box {
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
  }

  .image-container.active.right .text-box {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
  }

  .weiter-button {
    width: 80vw; /* Width relative to viewport */
    position: static;
    transform: none;
    margin: 10px auto; /* Margin adjusted for center alignment */
  }

  .image-container.active.left .weiter-button {
    bottom: 10px; /* Button unter dem Text */
    top: auto;
  }

  .image-container.active.right .weiter-button {
    top: 10px; /* Button über dem Text */
    bottom: auto;
  }
}
