.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #242424;
    position: relative;
    padding-top: 70px; 
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  
  .filterContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
  }
  
 
  @media (max-width: 768px) {
    .app {
      padding-top: 50px; 
    }
  
    .navbar {
      padding: 10px 15px;
    }
  
    .filterContainer {
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
      gap: 5px;
    }
  }
  