
.exercise {
    position: relative;
    width: 300px;
    margin: 10px;
  }
  
  .exerciseImg {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .exerciseDetails {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    width: calc(100% - 20px); 
  }
  
  .exerciseDetails h2 {
    margin: 0;
    font-size: 16px;
    color: white; 
  }
  