.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: black;
}

.headerImageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.headerImage {
  width: 100%;
  object-fit: cover;
}

.headerTitleContainer {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: white;
  animation: fadeIn 6s ease-in-out forwards;
  opacity: 0;
}


.headerTitle {
  font-size: 5vw; 
}

.noScroll {
  overflow: hidden;
  height: 100%;
}


@media (max-width: 768px) {
  .headerTitle {
    font-size: 3rem; 
  }
  .headerImage {
    height: 100%;
    object-fit: cover;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
