/* Background image for the entire body */
.inputbody {
  background-image: url('../../public/images/blackbackg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Add transparency to the background */
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  color: #ffffff;
  margin-bottom: 20px;
}

.formElement {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #333;
  color: #ffffff;
  text-align: center;
}

.button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #aa0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #cc0000;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid red;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Mobile Version */
@media (max-width: 600px) {
  .container {
    padding: 10px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .header {
    font-size: 1.5rem;
  }

  .formElement {
    font-size: 14px;
    padding: 8px;
  }

  .button {
    font-size: 14px;
    padding: 8px;
  }

  .loader {
    width: 100px;
    height: 100px;
  }
}
