.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  display: flex;
  flex-direction: row; /* Nebeneinander anordnen */
  gap: 20px; /* Abstand zwischen Bild und Text */
}

.modalImg {
  /* Maximalbreite des Bildes */
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

.modalText {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: rgba(0, 0, 0, 0.9); /* Slightly less transparent background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.modalText {
  text-align: left;
  width: 50%;
  color: white;
  overflow-y: auto;
}

.modalText h2, .modalText p {
  margin: 10px 0;
}

.modalText button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalText button:first-of-type {
  background-color: #007BFF;
  color: white;
}

.modalText button:first-of-type:hover {
  background-color: #0056b3;
}

.modalText button:last-of-type {
  background-color: transparent;
  color: white;
  font-size: 24px;
}

.modalText button:last-of-type:hover {
  color: red;
}

.modalVideo {
  width: 100%; /* Adjusted from 100% to 60% */
  height: 550px; /* Adjusted from 400px to 500px */
  border: none;
}

.modalText {
  margin-left: 20px; /* Added margin to separate the text from the video */
}

.modalText h2 {
  margin-bottom: 10px;
}

.modalText p {
  margin-bottom: 10px;
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .modalContent {
      flex-direction: column;
      align-items: center;
  }

  .modalImg {
      width: 90vw;
      height: auto;
      max-height: 60vh; /* Adjusted height for portrait layout */
      margin-bottom: 10px;
  }

  .modalText {
      width: 90vw;
      text-align: center;
      overflow-y: auto;
      max-height: 50vh;
      margin-left: 0; /* Remove margin-left for mobile */
  }

  .modalVideo {
      width: 90vw; /* Width relative to viewport */
      height: auto;
      max-height: 30vh; /* Smaller height for mobile layout */
      margin-bottom: 10px;
  }

  .modalText button {
      width: 90vw;
  }
}
