.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  display: flex;
  flex-direction: row; /* Nebeneinander anordnen */
  gap: 20px; /* Abstand zwischen Bild und Text */
}

.modalImg {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

.modalText {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: rgba(0, 0, 0, 0.9); /* Slightly less transparent background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.modalImg {
  width: 50%;
  height: auto;
  max-height: 500px;
  border-radius: 8px;
}

.modalText {
  text-align: left;
  width: 50%;
  color: white;
  overflow-y: auto;
}

.modalText h2, .modalText p {
  margin: 10px 0;
}

.modalText button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 80%; /* Button width */
}

.modalText button:first-of-type {
  background-color: #007BFF;
  color: white;
}

.modalText button:first-of-type:hover {
  background-color: #0056b3;
}

.modalText button:last-of-type {
  background-color: transparent;
  color: white;
  font-size: 24px;
}

.modalText button:last-of-type:hover {
  color: red;
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .modalContent {
    flex-direction: column;
    align-items: center;

  }

  .modalImg {
    width: 100%;
    max-width: 80%;
    height: auto;
    
    margin-bottom: 20px;
    
  }

  .modalText {
    padding-top: 10%;
    width: 100%;
    text-align: center;
  }

  .modalText button {
    width: 100%;
    max-width: 80%;
  }
}
