@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.leftSection,
.rightSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.leftSection {
  flex: 1;
}

.rightSection {
  flex: 1;
  justify-content: flex-end;
}

.centerSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
  margin-right: 5px;
}

.menuItem {
  color: #ccc;
  font-size: 20px;
  transition: color 0.3s;
}

.menuItem:hover,
.active {
  color: white;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.userImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #444;
  min-height: 50px;
  min-width: 100px;
  height: auto;
  width: 10%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font: 15px 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdownImage {
  height: 50%;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logoutButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font: 75% 'Poppins', sans-serif;
  text-align: center;
}

.logoutButton:hover {
  background-color: #c0392b;
}
