.streakContainer {
    background: #161717;
    padding: 20px;
    border-radius: 25px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
  
  .streakContainer h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .streakContainer p {
    margin: 10px 0 0;
    font-size: 2em;
  }
  